<style>


</style>

    
<div class="row justify-content-sm-center row-section solid-background">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="overlay-text">
      {{#get "posts" slug="home-section-7" as |post|}}
        {{#post}}
          <div class="heading-1 center-text">
            {{title}}
          </div>
          <div class="section-copy center-text">
            {{content}}
          </div>
        {{/post}}
      {{/get}}
    </div>
  </div>
</div>

<!-- Section 1 -->
<div class="row row-section solid-background">
  {{#get "posts" filter="tags:[team]" as |post|}}
    {{#post}}
      <div class="col-12 col-sm-4 col-lg-3">
        <div class="overlay-text">
          <img class="profile-photo" src='{{feature_image}}'/>
          <div class="heading-3 center-text">
            {{title}}
          </div>  
          <div class="center-text">
            {{content}}
          </div>
        </div>
      </div>
    {{/post}}
  {{/get}}
</div>