<style>


</style>

<a id="our-team"></a>
<div class="solid-background">
  <div class="row-section">
    <div class="row justify-content-sm-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="overlay-text">
        {{#get "posts" slug="home-section-7" as |post|}}
          {{#post}}
            <div class="heading-1-wrapper center-text">
              <div class="heading-1">
                {{title}}
              </div>
            </div>
            <div class="section-copy center-text">
              {{content}}
            </div>
          {{/post}}
        {{/get}}
      </div>
    </div>
  </div>

    <!-- Section 1 -->
    <div class="row solid-background">
    {{#get "posts" filter="tags:[team]" order="custom_excerpt asc" as |post|}}
      {{#post}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="profile">
            <div class="overlay-text">
              <img class="profile-photo" src='{{feature_image}}'/>
              <div class="profile-name center-text">
                {{title}}
              </div>  
              <div class="center-text">
                {{content}}
              </div>
            </div>
          </div>
        </div>
      {{/post}}
    {{/get}}
  </div>
  </div>
</div>