<div class="row">
  <div class="col-12 chalkboard-container">
    <img class="chalkboard" src="{{asset "images/chalkboard-background.jpg"}}">
    {{> "site-nav"}}
    <!-- Section 1 -->
    <div class="row row-section-no-side-padding">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 order-sm-1 padded-col">
        {{#get "posts" slug="home-section-1" as |post|}}
          {{#post}}
            {{content}}
          {{/post}}
        {{/get}}
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 order-sm-12">
        <img class="overlay-image" src="{{asset "images/header.png"}}">
        <br/>
      </div>
    </div>
    
    <!-- Section 2 -->
    <!-- <div class="row-section d-none d-sm-block">
    </div> -->
    <a id="our-vision"></a>
    <div class="row row-section">
      <div class="col-12 col-sm-6 order-sm-12">
          {{#get "posts" slug="home-section-2" as |post|}}
            {{#post}}
              {{content}}
            {{/post}}
          {{/get}}
        <br/><br/>
      </div>
      <div class="col-12 col-sm-6 order-sm-1">
        <img 
          class="overlay-image center-item" 
          src="{{asset "images/big-vision.png"}}">
          <br/>
      </div>
    </div>
    
  </div>
</div>
